<footer>
    <div class="container-fluid bg-secondary fonte-pequena">
          <br>                        
      <div class="row">
        <div class="col">
            <nav>
                <ul class="sem-marcadores">                                                                          
                      <li><a class="text-light" href="quemsomos.php">Quem Somos</a></li>                        
                      <li><a class="text-light" href="coberturas.php">Coberturas</a></li>                        
                      <li><a class="text-light" href="beneficios.php">Benefícios</a></li>                                              
                </ul>                      
              </nav>
        </div>
        <div class="col">
            <nav>
                <ul class="sem-marcadores">                                                                          
                      <li><a class="text-light" href="quemsomos.php">Quem Somos</a></li>                        
                      <li><a class="text-light" href="coberturas.php">Coberturas</a></li>                        
                      <li><a class="text-light" href="beneficios.php">Benefícios</a></li>                                              
                </ul>                      
              </nav>
        </div>
        <div class="col">
            <nav>
                <ul class="sem-marcadores">                                                                          
                      <li><a class="text-light" href="quemsomos.php">Quem Somos</a></li>                        
                      <li><a class="text-light" href="coberturas.php">Coberturas</a></li>                        
                      <li><a class="text-light" href="beneficios.php">Benefícios</a></li>                                              
                </ul>                      
              </nav>
        </div>
    </div> 
  </div> 
  
  </footer>