<app-menu-principal></app-menu-principal>
<div class="container">
  <div class="roboto margem-superior-padrao">
    <h1 class="text-center margem-superior-pequena">Quem Somos</h1>
    <hr>
    <p class="margem-superior-padrao">O Vagas Zona da Mata é um portal de vagas de emprego com foco em oportunidades de trabalho nas regiões da Zona da Mata
      e Campos das Vertentes de Minas Gerais.</p>
    <p>O Vagas Zona da Mata possui dois principais objetivos:</p>
    <ul>
      <li>fornecer às empresas, sejam elas privadas ou públicas, um meio gratuito para publicar oportunidades de trabalho.</li>
      <li>possibilitar aos habitantes das regiões da Zona da Mata e Campos das Vertentes encontrar oportunidades de trabalho
        nas regiões ou cidades em que residem.</li>
    </ul>
    <p>O portal é desenvolvido e mantido por pessoas que possuem sua origens nas regiões da Zona da Mata e Campos das Vertentes
      e, por isso, a grande missão do Vagas Zona da Mata é fomentar o mercado de trabalho nas cidades pertencentes às regiões
      em questão.</p>
  </div>
</div>
<div class="margem-superior-grande">
  <app-rodape></app-rodape>
</div>