<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="#">
    <img src="assets/imagens/vagaszm.png" alt="" height="65" width="142">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/empresa" >Suas Vagas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/empresa/publicarvaga">Publicar Vaga</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Buscar Candidatos</a>
      </li>      
    </ul>        
    <span class="navbar-text fonte-pequena">{{nomeUsuario}} - Empresa: {{nomeEmpresa}}</span>&nbsp;&nbsp;&nbsp;    
    <button type="button" class="btn btn-outline-danger" (click)="sairEmpresa()">Sair <i class="fa fa-user" aria-hidden="true"></i></button>    
  </div>

</nav>
